body {
    background-image: url(./paper.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1,h3 {
    margin: 5px;
}

#container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    border: solid;
}

.grid {
    background-color: white;
    
    
}

.hover {
    background-color: black;
}

button {
    border-radius: 5px;
    padding: 10px;
}

#grid-size {
    background-color: aqua;
}

#reset-btn {
    background-color: rgb(252, 103, 103);
}